* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Consolas";
} 

.searchDiv {
    position: absolute;
    width: 100vw; 
    text-align: center;
    top:46vh
}

.searchBar {
    font-size: 1.2em;
    width: 40vw;
    height: 2em;
    margin-bottom: 2vh;
    padding: 0.5em;
    border: 0.2em solid
}

.searchBar:focus {
    border: 0.2em solid;
    border-radius: 0%;
}

.searchButton {
    background-color: white;
    font-size: 2em;
    padding: 0.2em;
    transition: .25s;
}

.searchButton.inverted {
    background-color: black;
    color:white
}

.searchButton.inverted:hover {
    background-color: white;
    color:black;
}

.searchButton:hover{
    background-color: black;
    color: white;
    font-size: 2em;
    padding: 0.2em;
}

.websiteTitleSmall{
    font-weight: bold;
    font-size: 1.7em;
}

.websiteTitle {
    margin-bottom: 2vh;
}

.singleResult{
    width: 100%;
    transition: .25s;
    padding: 1.2em 0.5em 1.2em 0.5em;
}

.singleResult:hover{
    background-color: black;
    color: white;
}

.resultTitle {
    font-weight: bold; 
    font-size: 1.5em;
}

.resultsDiv {
    padding: 2em;
    width: 75vw;
}

a{
    color:black
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 1em;
}

.tableTitle{
    color:white;
    background-color: #016871;
    /*
    color: black;
    font-size: 1.2em;
    background-color: #ffffff;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #000000 0, #000000 1px, #ffffff 0, #ffffff 50%);*/
}

.linkbutton {
    background: none;
    border: none;
    padding: 0!important;
    /*input has OS specific font-family*/
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.3em;
    margin: 0.5em;
}

.currentPage{
    font-weight: bold;
    text-decoration: none;
    color: #016871
}
